*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: azure;
  }
  header {
    background-color: #001388;
  }
  .container1, .container2, .container3 {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
  }
  .container1 {
    background-color: #001388;
    color: white;
    text-align: center;
  }
  .titulo1 {
    font-size: 2.5em; 
    color: white;
    position: relative;
    top: 30px;
    text-align: left;
    margin-left: 200px;
  }
  .img1{
    margin-left: 1300px;
    margin-top: -30px;
  }              
  #contato1{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }
  #botao1{
    margin-left: 1310px;
    width: 170px;
    height: 35px;
    margin-top: 30px;
    border-radius: 20px;
    color:  white;
    background-color: #001388;
    cursor: pointer;
}
#botao1:hover {
    background-color: rgb(26, 73, 230);
    transition: 1.0s;
}

.imagem2{
    width: 150px;
    height: 150px;
    margin-top: -800px;
    margin-left: 50px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
.confirmacao-mensagem {
  display: none; /* Oculta a mensagem inicialmente */
  color: green;
  margin-left: 650px;
  width: 640px;
  height: 65px;
  background-color: azure;
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -20px;
  border-radius: 40px;
}

:target .mensagem  {
    display: block;
}
:target form {
    display: none;
}
input[type="text"], input[type="email"], textarea {
    width: 85%; /* Ocupa a largura total do container */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
  }
textarea {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
#botao2 {
    padding: 10px 20px;
    background-color: #041161;
    color: white;
    border: 1px solid #0000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 85%;
    margin-left: 130px;
  }
#botao2:hover {
    transition: 0.5s;
    background-color: rgb(26, 73, 230);
}
.container3 {
    background-color: #001388;
    color: white;
    text-align: center;
    padding: 20px;
  }
  footer{
    background-color:  #041161;
    color: white;
    position: relative;
    left: 0;
}
.insta{
    position: relative;
    width: 60px;
    margin-left: 1560px;
    top: -30px;
}
.whats{
    position: relative;
    width: 60px;
    top: -30px;
    left: 10px;

}

h4{
    position: relative;
    margin-left: 1180px;
    top: 30px;
}
small{
    position: relative;
    margin-left: 1180px;
    top: 40px;
    font-size: medium;
    color: white;
}
.email-roda {
    color: white;
    transition: color 0.5s ease;
}
.email-roda:hover {
    color: rgb(101, 101, 230);
}
